<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.Title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.Author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.Body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<h3> <%= @comments.count %> Comments</h3>

<table>
  <thead>
  <tr>
    <th>Author</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.all.each do |comment| %>
    <tr>
      <td><%= comment.Author %></td>
      <td><%= comment.Body %></td>
      <td><%= link_to 'Show', comment %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3> Leave a reply</h3>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
